jupyterlab
pyautogen
ag2[openai]
crewai
crewai-tools
crewai[tools]
streamlit
ag2[openai,interop-langchain]
wikipedia
ag2[openai,interop-crewai]
ag2[openai,interop-pydantic-ai]
gradio
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langgraph
langsmith
tavily-python
tiktoken
langchainhub
chromadb
langchain-text-splitters
beautifulsoup4