jupyterlab
pyautogen
ag2[openai]
crewai
crewai-tools
crewai[tools]
streamlit
ag2[openai,interop-langchain]
wikipedia
ag2[openai,interop-crewai]
ag2[openai,interop-pydantic-ai]
gradio
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langgraph
langsmith
tavily-python
tiktoken
langchainhub
chromadb
langchain-text-splitters
beautifulsoup4
bs4
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
ipywidgets
llama-index-tools-yahoo-finance
llama-index-tools-tavily-research
llama-index-readers-database
llama-index-readers-google
llama-index-vector-stores-chroma
spacy
matplotlib
numpy
pandas
llama-index-experimental
arize-phoenix
llama-index-callbacks-arize-phoenix
langchain-pinecone
pinecone
markdown
unstructured
docx2txt